table, .sort_type form, form.new_vehicule {
  margin: auto;
}

/* Home Table */

#vehiculesTable thead tr {
  background-color: grey;
}

#vehiculesTable tbody tr:nth-child(even) {
  background-color: #D3D3D3;
}

#vehiculesTable tbody tr:hover {
  background-color: #C2C2C2;
}

table tr td {
  min-width: 15vw;
  padding: 2px;
}

.buttons_td a, .buttons_td form {
  margin: 0 2px;
}

.detail_h {
  font-weight: bold;
}

/* Forms */
form.new_vehicule {
  display: flex;
  flex-direction: column;
  width: 90%;
}

form.checkboxes {
  margin: 2vh auto;
}

.checkboxes label {
  font-size: 1.2rem;
  font-weight: bold;
}

textarea, form.modify_vehicule input[type="text"] {
  border: none;
  border-bottom: 1px solid grey;
}

textarea {
  resize: none;
}

form.modify_vehicule input.focused {
  border-bottom: 2px solid #4FAA4F;
}

form.modify_vehicule textarea.focused {
  border: 2px solid #4FAA4F;
}

/* */

.mod_card, .del_div {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
}

.mod_card form button {
  height: 100%;
}
