#vehiclesTable, .sort_type form, form.new_vehicle, .mod_card {
  margin: auto;
}

form.new_vehicle, .mod_card, .del_div, header, .header_btn
{
  display: flex;
}

/* Header */

header {
  background-color: rgb(20, 27, 73);
}

header h1 {
  color: white;
}

.header_btn {
  padding: 10px;
}

.header_btn a, .header_btn button {
  margin: 0 3px;
}

/* Main */
main {
  margin-top: 5vh;
}

/* Home Table */

#vehiclesTable {
  width: 80vw;
}

#vehiclesTable thead tr {
  background-color: grey;
}

#vehiclesTable tbody tr:nth-child(even) {
  background-color: #D3D3D3;
}

#vehiclesTable tbody tr:hover {
  background-color: #C2C2C2;
}

table tr td {
  min-width: 15vw;
  padding: 2px;
}

.buttons_td a, .buttons_td form {
  margin: 0 2px;
}

.detail_h {
  font-weight: bold;
}

/* Forms */
form.new_vehicle {
  flex-direction: column;
  width: 90%;
}

form.checkboxes {
  margin: 2vh auto;
}

.checkboxes label {
  font-size: 1.2rem;
  font-weight: bold;
}

form.modify_vehicle textarea, form.modify_vehicle input[type="text"] {
  border: none;
  border-bottom: 1px solid grey;
}

textarea {
  resize: none;
}

form.modify_vehicle input.focused {
  border-bottom: 2px solid #4FAA4F;
}

form.modify_vehicle textarea.focused {
  border: 2px solid #4FAA4F;
}

/* */

.mod_card {
  width: 75vw;
  border: 1px solid grey;
  border-radius: 5px;
  margin-top: 5vh;
  padding: 5px;
}

.mod_card, .del_div {
  flex-flow: row nowrap;
  align-items: stretch;
}

.mod_card form button {
  height: 100%;
}
